* {
    box-sizing: border-box;
  }

:root {
    --pink: rgb(253, 218, 223);
}

body {
    background-color: var(--pink);
}


h1 {
    font-family: "Sacramento", cursive;
    font-size: 90px;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: 20px;
}

h3 {
    font-size: 18px;
}

img {
  display: block;
  max-width: 18%;
  height: auto;
  border-radius: 8px;
}

footer {
    margin: 30px;
    text-align: center;
}

.navbar {
    display: flex;
}

.facts {
    border: 2px solid black;
    width: 50%;
    height: 3.5rem;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -30px;
    background-color: antiquewhite;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.thanks-container {
  display: block;
  border: 2px solid black;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 30px;
  background-color: antiquewhite;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#needle-blue-thread1, #needle-blue-thread2 {
    margin-top: auto;
    margin-left: auto;
    width: 250px;
    height: auto;
    /* border: 2px solid red; */
    z-index: 1;
}

#thank-you {
  font-weight: bold;
  text-align: center;
}

#img1 {
  transform: rotate(-12deg);
  /* margin-left: 30px; */
  margin-top: 15px;
  margin-bottom: 15px;
}

#img7 {
  transform: rotate(12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img4 {
  transform: rotate(12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img6 {
  transform: rotate(12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img2 {
  transform: rotate(-12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img3 {
  transform: rotate(12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img5 {
  transform: rotate(-12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

#img8 {
  transform: rotate(-12deg);
  margin-top: 15px;
  margin-bottom: 15px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
  }

  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(252, 247, 240);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(252, 247, 240);
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
.left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(252, 247, 240);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(252, 247, 240);
  }

  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(252, 247, 240);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(252, 247, 240) transparent transparent;
  }

  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
  }

  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: rgb(252, 247, 240);
    position: relative;
    border-radius: 6px;
  }

  @media screen and (max-width: 1024px) {

    h1 {
        font-size: 60px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    .facts {
        margin-top: 5px;
        width: 60%;
        font-size: 12px;
    }


    #needle-blue-thread1, #needle-blue-thread2 {
        margin: auto;
        width: 25%;
        height: auto;
        z-index: 1;
    }

  }

  @media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
        text-align: center;
    }

    h3 {
        font-size: 12px;
    }

    p {
      font-size: 10px;
    }

    .facts {
        margin-top: 5px;
        width: 60%;
    }

    #needle-blue-thread1, #needle-blue-thread2 {
        margin: auto;
        width: 35%;
        height: auto;
        z-index: 1;
    }

    .content h1 {
      font-size: 10px;
    }

    .content p {
      font-size: 12px;
    }    

  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 34px;
      text-align: center;
  }

  h3 {
      font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  .facts {
      margin-top: 5px;
      width: 60%;
  }

  .thanks-container {
    width: 80%;
    height: auto;
  }

  #needle-blue-thread1, #needle-blue-thread2 {
      margin: auto;
      width: 35%;
      height: auto;
      z-index: 1;
  }

  .content h1 {
    font-size: 10px;
  }

  .content p {
    font-size: 12px;
  }    

  }